.patient-page {
  display: flex;
}

.patient-title {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.patient-sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 8px;
}

.patient-demographics {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}
